# Archivos compilados

*.class
/Tema8/T8Ej1a14/build/
/Tema8/T8Ej1a14/dist/
/Tema8/T8Ej1a14/nbproject/private/
/Tema8/Tema 8/nbproject/private/
/Tema8/Tema 8/build/
/Tema8/Tema 8/dist/
/Tema7.5/nbproject/private/
/Tema7.5/build/
/Tema7.5/dist/
/Tema9/Tema9/nbproject/private/
/Tema9/Tema9/build/
/Tema9/Tema9/dist/
/examen3Daw1718/nbproject/private/